@import './components/reset';
@import './components/functions';
@import './components/Attribution.scss';


body {
    width: 100%;
    min-height: 100vh;

    background-color: get-neutral(5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: get-font-family();
    color: get-neutral(1);
}


@import './components/RatingCard.scss';